<p style="color: green"><%= notice %></p>

<h1>User bookings</h1>

<div id="user_bookings">
  <% @user_bookings.each do |user_booking| %>
    <%= render user_booking %>
    <p>
      <%= link_to "Show this user booking", user_booking %>
    </p>
  <% end %>
</div>

<%= link_to "New user booking", new_user_booking_path %>
